.blogIntroDiv {
    box-shadow: 1px 1px 5px #888888;
    margin: 2px;

}

.blogIntroDiv h3 {
    padding: 5px;
}

.blogIntroDiv p {
    padding: 5px;
}
.fixed-bottom {
    position: fixed;
    bottom: 0;width:100%;
}
.background{
    background-image: url("../../img/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

