<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>博客</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}" rel="stylesheet">


</head>

<body>
<!-- Static navbar -->
<div th:include="html/navbar::navbar">
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-6" th:each="article,iterInfo: ${articleList}">
            <h4 th:text="${article.title}">Heading</h4>
            <p th:text="${article.briefIntro}">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default article" th:id="${article.articleId}" role="button">View details &raquo;</a></p>
        </div>
    </div>


    <nav aria-label="Page navigation">
        <ul id="pagination">
            <span id="spanCurrPage" hidden="hidden" th:text="${currPage}"></span>
            <span id="spanTotalPage" hidden="hidden" th:text="${totalPage}"></span>
            <span id="spanCategoryId" hidden="hidden" th:text="${categoryId}"></span>
            <span id="spanCategoryName" hidden="hidden" th:text="${categoryName}"></span>
        </ul>
    </nav>


    <hr>

    <footer>
        <p>&copy; 2016 Company, Inc.</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/bootstrappaginator/src/bootstrap-paginator.js}" type="text/javascript"></script>

<script th:src="@{/js/blogjs/index.js}" type="text/javascript"></script>
<script th:src="@{/js/blogjs/bloglist.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>
