<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>博客管理</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}" rel="stylesheet">
    <!-- 这里引用blogedit.css 是为了使用.category{}这个空样式，用于做类选择器，辅助实现类别删除-->
    <link th:href="@{/css/blogcss/blogedit.css}" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">博客管理</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">你好,<span id="userNameSpan" th:text="${userName}"></span></a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a id="writeBlog"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            <table class="table">
                <thead>
                <tr>
                    <th>标题</th>
                    <th>发布时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="article,iterInfo: ${articleList}">
                    <th th:text="${article.title}">标题1</th>
                    <th th:text="${#dates.format(article.lastEditTime,'yyyy-MM-dd')}">2018/12/12</th>
                    <th class="article">
                        <button th:id="${article.articleId}" type="button" class="btn btn-sm btn-danger"> 删除</button>
                        <button type="button" class="btn btn-sm btn-info"> 更改</button>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4 class="text-info">类别管理</h4>
                <p>选择添加新的类别,将产生一个新的类别,在首页展示和博客编辑时可以进行选择.
                    选择删除类别可以将现有的类别进行删除.
                </p>
            </div>
            <hr>
            <div class="sidebar-module">
                <h4 class="text-success">添加类别</h4>
                <ol class="list-unstyled">
                    <div class="input-group">
                        <input id="inpCategory" type="text" class="form-control" placeholder="在此输入类别名称">
                        <span class="input-group-btn">
                            <button id="btnAddCategory" class="btn btn-default" type="button">添加</button>
                        </span>
                    </div><!-- /input-group -->
                </ol>
            </div>
            <hr>
            <div class="sidebar-module">
                <h4 class="text-warning">删除类别</h4>
                <ol class="list-unstyled">
                    <li>
                        <div class="input-group-btn">
                            <button id="btnCategory" type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">点击选择一个类目<span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li th:each="category,iterInfo: ${categoryList}">
                                    <a class="category" th:id="${category.categoryId}"
                                       th:text="${category.categoryName}"></a>
                                </li>
                            </ul>
                            <button id="btnDeleteCategory" class="btn btn-md btn-danger">删除</button>
                        </div><!-- /btn-group -->

                    </li>
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->
    </div>
    <nav aria-label="Page navigation">
        <ul id="pagination">
            <span id="spanCurrPage" hidden="hidden" th:text="${currPage}"></span>
            <span id="spanTotalPage" hidden="hidden" th:text="${totalPage}"></span>
        </ul>
    </nav>


</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery.min.js}">
</script>
<script th:src="@{/bootstrappaginator/src/bootstrap-paginator.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{/js/blogjs/blogmanagement.js}" type="text/javascript" charset='utf-8'>
</script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

</body>
</html>
