<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>详情</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/blogcss/common.css}" rel="stylesheet">
</head>

<body>

<!-- Static navbar -->
<div th:include="html/navbar::navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-post" th:object="${article}">
                <h2 class="blog-post-title" th:text="*{title}">Sample blog post</h2>
                <hr>
                <div style="font-size: 14pt;border: #1b6d85 2px dashed;padding: 8px" th:utext="*{content}"></div>
            </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module">

                <ol class="list-unstyled">
                    <li><a href="https://github.com/Berlin1122/PersonalBlog">GitHub</a></li>
                    <li>
                        <text>邮箱：c18811226033@163.com</text>
                    </li>
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->
    <div style="padding-bottom: 20px;width: 100px;height: 20px"></div>

</div><!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/blogjs/index.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>
