<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>主页</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/blogcss/index.css}" rel="stylesheet">
    <link th:href="@{/css/blogcss/common.css}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Static navbar -->
<div th:include="html/navbar::navbar"></div>

<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>务实、谦逊、勤勉</p>
        <p>向优秀的人看齐，努力提升自己的能力。</p>
        <p>多分享，多交流。Life is fantastic！</p>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">

        <div class="col-md-4" th:each="article,iterInfo: ${articleList}">
            <div class="blogIntroDiv">
                <h3 th:text="${article.title}">Heading</h3>
                <p th:text="${article.briefIntro}">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                    euismod. Donec sed odio dui. </p>

                <div class="row">
                    <div class="col-sm-6">
                        <p><a class="btn btn-default article" th:id="${article.articleId}" role="button">View details &raquo;</a></p>
                    </div>
                    <div class="col-sm-6">
                        <h4>
                            <span class="label label-default" th:text="${#dates.format(article.lastEditTime,'yyyy-MM-dd')}" style="float: right">Info</span>
                        </h4>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <hr>

    <footer>
        <p>Copyright©2019 BerlinEleanor chenyulin.xyz All Rights Reserved.</p>
    </footer>
</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/blogjs/index.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>
